@font-face {
  font-family: 'Noto Sans TC';
  src: url('./fonts/noto-sans-tc-v10-latin_chinese-traditional-regular.woff2') format('woff2')
}
@font-face {
  font-family: 'Noto Sans SC';
  src: url('./fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.woff2') format('woff2')
}

.reportTable {
  font-family: Open Sans,Helvetica,Arial,Noto Sans TC, Noto Sans SC,sans-serif;
  color: #50c7b1;
  border-collapse: collapse;
  border-spacing: 3px;
  table-layout: fixed;
}

th.headerCell {
  background-color: #50c7b1;
  padding: 5px;
  border-bottom: 1px solid #BDC3C7;
}

.headerCell.dimension {
  background-color: #e4ecf3;
  border-right: 1px solid #BDC3C7; 
}
